<!DOCTYPE html>
<html lang="en">
<head>
<style>

</style>
</head>
<body>

 <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="/home/show" style="color:red">ESC</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home/show">자유게시판<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/food/index">강의평</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/animal/index">시간표</a>
      </li>

      </ul>
      </div>
      <div>

<!-- Link (right) -->
    <ul class="nav navbar-nav navbar-text navbar-right">
    <li class="nav-item">
        <%if user_signed_in?%>
          <%=current_user.nickname%>님 
          <%=link_to '로그아웃',destroy_user_session_path,
          method: :delete%>
        <%end%>
</li>
</ul>

</div>

</div>
</nav>

<p>로고</p>

<% if user_signed_in? %>
    <% if current_user.school=='이대'%>
        <p align="center"><font size = "5"><%= current_user.nickname %>님 반가워요!</font></p>
    
        <p align="center"><a class="btn btn-outline-success btn-lg" href="/home/show_ewha" role="button">이화여대</a></p>
    <% else %>
        <p align="center"><font size = "5"><%= current_user.nickname %>님 반가워요!</font></p>
        
        <p align="center"><a class="btn  btn-outline-primary btn-lg" href="/home/show" role="button">숙명여대</a></p>
     <% end %>               
<% else %>
    <div>
        <p align="center"><font size = "5">로그인을 하고 이용해주세요 : )</font></p>
     </div>
    <div>
        <p align="center"><a class="btn btn-outline-primary btn-lg" href="/users/sign_in" role="button">로그인</a>
        <a class="btn btn-outline-success btn-lg" href="/users/sign_up" role="button">회원가입</a></p>
    </div>
    <div>
        <!--<p align="center"><a class="btn btn-outline-primary btn-lg" href="/home/show" role="button">숙명여대</a>-->
        <!--<a class="btn btn-outline-success btn-lg" href="/home/show_ewha" role="button">이화여대</a></p>-->
    </div>    
<% end %>  

</body>  
</html>